.unit3-container {
  font-family: "Times New Roman", Times, serif;
  padding: 60px 8%;
  background: #f9f9f9;
}

.unit3-header h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

.unit3-header p {
  line-height: 1.8;
  font-size: 17px;
  text-align: justify;
}

.section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 70px 0;
  flex-wrap: wrap;
}

.section.reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  min-width: 300px;
}

.text h2 {
  margin-bottom: 15px;
  font-size: 26px;
}

.text p {
  line-height: 1.8;
  text-align: justify;
}

.box-image {
  flex: 1;
  max-width: 500px;
  width: 100%;
  border: 2px solid #ccc;
  padding: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.center-section {
  text-align: center;
  margin: 80px 0;
}

.center-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.center-section p {
  max-width: 900px;
  margin: auto;
  line-height: 1.8;
}

.slider-section {
  margin-top: 50px;
}

.slider-img {
  padding: 10px;
}
.image-left, .image-right {
  flex: 1;
  padding: 10px;
}

.text-left, .text-right {
  flex: 1;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}