.footer {
  background-color:rgb(68, 68, 170);
  color: #ffffff;
  padding: 40px 40px;
  font-family:  "Times New Roman", Times, serif;
  font-weight:600;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* LEFT SIDE */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* NAV LINKS */
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-nav a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.footer-nav a:hover {
  color: #3b82f6;
}

/* COPYRIGHT */
.footer-bottom {
  font-size: 14px;
  color: #9ca3af;
}

/* RIGHT SIDE */
.footer-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CONTACT */
.footer-contact p {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: #d1d5db;
}

.footer-icon {
  color: #3b82f6;
}

/* SOCIAL */
.footer-social {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 20px;
}

.footer-social a {
  color: #d1d5db;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #3b82f6;
  transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-right {
    text-align: left;
  }

  .footer-contact p {
    justify-content: flex-start;
  }

  .footer-social {
    justify-content: flex-start;
  }
}
