/* ================= HEADER ================= */
.header {
  width: 100%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* ================= NAVBAR ================= */
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  font-weight:400;
}

/* ================= LOGO ================= */
.logo-img {
  height: 100px;
  width: auto;
  display: block;
  display: inline-block;
}

/* ================= MENU ================= */
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu > li {
  position: relative;
}

/* Main Links */
.menu > li > a,
.menu > li > span {
  text-decoration: none;
  color: #1f2937;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu > li > a:hover,
.menu > li > span:hover {
  color: #0a5ed7;
}

/* ================= DROPDOWN ================= */
.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 230px;
  background: #ffffff;
  border-radius: 6px;
  padding: 10px 0;
  display: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.3s ease;

}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li a,
.dropdown-menu li span {
  display: block;
  padding: 10px 18px;
  text-decoration: none;
  color: #374151;
  font-size: 14px;
  transition: 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #f3f4f6;
  color: #0a5ed7;
}

/* ================= SUBMENU ================= */
.submenu {
  position: relative;
}

.submenu-menu {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 200px;
  background: #ffffff;
  border-radius: 6px;
  padding: 10px 0;
  display: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.submenu:hover .submenu-menu {
  display: block;
}

/* ================= CONTACT BUTTON ================= */
.menu .contact-btn a {
  background-color: #0a5ed7;
  color: #ffffff !important;
  padding: 8px 18px;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.3s ease;
}

.menu .contact-btn a:hover {
  background-color: #084bb5;
}

/* ================= ANIMATION ================= */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
